.container{
    margin: 40px;
    height: 400px;
    width: 400px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;

    /* How elements are aligned in a row  */
    justify-content:space-between;

    /* align-items: baseline; All text in the same line */
    /* align-items: center;
    align-items: flex-end;
    align-items: flex-start; */
    align-items: flex-start;
    align-content: center;


}

.item{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: lightseagreen;
    font-size: 20pt;
    border: solid black 1px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

