@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.login-box{
    position:relative;
    background: #191919;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: 0.5s ease;
}

.input-check:checked~h2{
    color: #00f7ff;
    text-shadow:
        0 0 15px #00f7ff;
        /* 0 0 30px #00f7ff; */
}


.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;    
}

.input-box .input-line{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #fff;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease;
}

.input-check:checked~ .input-box .input-line{
    background: #00f7ff;
    box-shadow: 0 0 10px #00f7ff;
}



.input-box label{
    color: #fff;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s ease;
}
/* Jab focus me rahega tab label(Email, Password) wo upar chala jayega */

/* suppose aap valid email nahi daalte ho, then 'Email' label niche aa jayega */
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/* earlier, when I entered invalid email, label would come down as soon input went out of focus, overlapping the value. */
/* now if the value entered is invalid and out go out of focus, color of text entered turns transparent, thus overlapping texts disappear */
/* To check comment out the below two and see  */
.input-box input[type="email"]:invalid{
    color: transparent;
}

.input-box input[type="email"]:invalid:focus{
    color: #fff;
}

.input-check:checked~ .input-box label{
    color: #00f7ff;
    text-shadow:
        0 0 10px #00f7ff;
        
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
    transition: 0.5s ease;
}

.input-check:checked~ .input-box input:valid{
    color: #00f7ff;
    text-shadow:
        0 0 5px #00f7ff;        
}

/* when I clicked on the input box, pre-saved appeared, when I clicked on one of then, the background color of the input turned white even masking the icon, to get rid of that, chatgpt suggested the following */
.input-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    /* Replace #191919 with the desired background color for the input box */
  }




.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
    transition: 0.5s ease;
}

.input-check:checked~ .input-box .icon{
    color: #00f7ff;
    filter: drop-shadow(0 0 15px #00f7ff);       
}


.remember-forget{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 0.9em;
    margin: -15px 0 15px;
    transition: 0.5s ease;
}

.input-check:checked~ .remember-forget {
    color: #00f7ff;
    text-shadow:
        0 0 10px #00f7ff;        
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
    transition: 0.5s ease;
}

.input-check:checked~ .remember-forget label input{
    accent-color: #00f7ff;       
}

.remember-forget a{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.input-check:checked~ .remember-forget a{
    color: #00f7ff;       
}

.remember-forget a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: 0.5s ease;
}

.input-check:checked ~ button{
    background: #00f7ff;
    box-shadow: 0 0 15px #00f7ff, 0 0 15px #00f7ff;
}

.register-link{
    color: #fff;
    font: 0.9em;
    text-align: center;
    margin: 20px 0 10px;
    transition: 0.5s ease;
}

.input-check:checked~ .register-link {
    color: #00f7ff;
    text-shadow:
        0 0 10px #00f7ff;        
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
}

.input-check:checked~ .register-link p a{
    color: #00f7ff;           
}

.register-link p a:hover{
    text-decoration: underline;
}

.login-light{
    position: absolute;
    top: -76px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: #00f7ff;
    border-radius: 20px;
    
}

.login-light::before{
    content: '';
    position: absolute;
    top: -900px;
    width: 100%;
    height: 950px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);

    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: 0.5s ease;
}
.input-check:checked~.login-light::before{
    top: 0;
}

.toggle{
    position: absolute;
    top: 20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background: #191919;
    border-radius: 10px;
}
.toggle::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    background: #000;
    
}

.toggle::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);    
    width: 45px;
    height: 45px;
    background: #333;
    border-radius: 2px solid #191919;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.input-check:checked~.toggle::after{
    top: 65px;
}

.input-check{
    position: absolute;
    right: -70px;
    opacity: 0;
    z-index: 1;
}

.toggle .text{
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s ease;
}

.toggle .text.off{
    opacity: 1;
}

.input-check:checked~.toggle .text.off{
    top: 76px;
    opacity: 0;
}

.toggle .text.on{
    opacity: 0;
}

.input-check:checked~.toggle .text.on {
    top: 76px;
    opacity: 1;
    color: #00f7ff;
    text-shadow:
        0 0 15px #00f7ff,
        0 0 30px #00f7ff,
        0 0 45px #00f7ff,
        0 0 60px #00f7ff;
}

