div.btn{
    margin: 50px;
    background-color: peru;
    color: white;
    padding: 50px ;
    font-size: 30pt;
    width: 200px;

    /* inset | color | offset-x | offset-y | blur-radius | spread-radius */
    /* Inset shadows are drawn inside the border, above the background, but below content. */
    border-radius: 10px;
    box-shadow: gray  10px 10px 10px 10px;
    transition: 0.8s;
}

div.btn:hover{
    transform: translate(-10px, -10px);
    box-shadow: gray 20px 20px 20px;
    transition: 0.3s;

}

div.btn:active{
    transform: translate(5px, 5px);
    box-shadow: gray 20px 20px 2px;
    transition: transform .2s, box-shadow 1s; /* can do this as well, different time for diff effects */
    /* transition: 0.2s; */ /* All efects are going to take the same time */
}